# البيئة الافتراضية
venv/
env/

# ملفات بايثون المؤقتة
__pycache__/
*.py[cod]

# قاعدة البيانات المحلية (لا نرفعها لغيت هاب غالباً)
db.sqlite3

# ملفات الوسائط (صور المنتجات المرفوعة)
media/

# إعدادات VS Code الخاصة بك
.vscode/